# Compiled executables
*.exe
*.out
*.app

# Object files
*.o
*.obj
*.ko
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Visual Studio
.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln

# VS Code
.vscode/

# Temporary files
*.tmp
*.temp
*.swp
*.swo
*~

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Build directories
build/
bin/
obj/
out/
